.authority-sign-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.authority-sign-para{
margin-bottom: 20px;
font-weight: bold ;
font-size: 30px;
  
 text-align: center;
}

.authority-sign-label {
  display: block;
  margin-bottom: 0;
  font-weight: bold;
  color: #333;
}

.authority-sign-input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #746060;
  border-radius: 5px;
}

.authority-sign-input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.authority-sign-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.authority-sign-button:hover {
  background-color: #3e8e41;
}
 
