/* @import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Protest+Guerrilla&display=swap'); */

.home-head{
    display:flex;
    flex-direction:row;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    justify-content: space-between;
    color:black;
    height: 90px;
    align-items: center;
    font-weight: 400;
    background-color: #094660;
}
.home-name{
   
    background-color: #094660;   
    color:white;
    font-size: 50px;
}
.home-img{
    
    background-image: url("./aushadi_logo.svg");
    /* background-size:cover; */
    background-size: cover; /* Ensures the whole image is visible */
    background-repeat: no-repeat;
    /* border:2px solid pink; */
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height:90px;
    width:90px;
    margin:10px;
}
.home-first{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:40vw;
    height:100%;
}
.home-button{
  border:2px solid black;
}