@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Protest+Guerrilla&display=swap');

.home-head{
    display:flex;
    flex-direction:row;
    font-weight: bold;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* justify-content: space-between; */
    color:black;
    /* border: 4px solid rgb(255, 255, 255); */
    height: 90px;
    align-items: center;
    font-weight: 400;
    background-color: #094660;
}
.home-name{
    margin-left:10px;
    background-color: #094660;   
    color:white;
    font-size: 50px;
}
.home-img{
    height:80px;
    width:100px;
    background-image: url("./aushadi_logo.svg");
    background-size:cover;
    border-radius: 50%;
    margin-left:20px;
}
#home-img-tag{}
.home-button{
  margin-left:1300px;
}