.Login-container {
  max-width: 300px;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Login-label {
  display: block;
  margin-bottom: 0;
  font-weight: bold;
  color: #333;
}

.Login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Login-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Login-button:hover {
  background-color: #3e8e41;
}

#hey-tag{
  font-size: 2rem;
}

.login-headin{
margin-bottom: 20px;
font-weight: bold ;
font-size: 3rem;
 text-align: center;
}
.Login-error{
   color:red;
}